<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <img [src]="product.image" [alt]="product.title" class="w-1/6 mb-2">
  <h2 class="mb-2 text-md text-center">{{ product.title}}</h2>
  <p>Price: <b>{{product.price | currency}}</b></p>

  <button
    class="border py-2 px-4 rounded"
    [ngClass]="{
      'bg-yellow-400': !showDetails,
      'bg-blue-400': showDetails
    }"
    (click)="showDetails = !showDetails"
  >
    {{ showDetails ? 'Hide' : 'Show'}} Details
  </button>

  <div *ngIf="showDetails">
    <p>{{product.description}}</p>
    <p>Rate: <b>{{product.rating.rate | number: '1.1-2'}}</b></p>
  </div>
</div>
